.body {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    margin: 0 auto;
    background-color: red;
}
.fondo{
    
}

.categorias{
    text-align: center;
    border: 10px lightgray;
}

.menuhome{
    background: rgb(218, 55, 55);
    justify-content: center;
    text-align: right;
    text-decoration: none;
}

.menu{
    text-decoration: none;
    color: white;
    padding: 20px;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}

.imagen{
   display: inline-block; 
    border-radius: 50px;
}